AM__DB_USER=postgres
AM__DB_PASSWORD=postgres
AM__DB_NAME=AuthService
AM__DB_HOST=localhost
AM__DB_PORT=5432

AM__REDIS_HOST=localhost
AM__REDIS_PORT=6379
AM__REDIS_PASSWORD=redis


AM__TEST_DB_USER=postgres
AM__TEST_DB_PASSWORD=postgres
AM__TEST_DB_NAME=test
AM__TEST_DB_HOST=localhost
AM__TEST_DB_PORT=5432

AM__TEST_REDIS_HOST=localhost
AM__TEST_REDIS_PORT=6379
AM__TEST_REDIS_PASSWORD=redis
